/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* CONTAINER */

.container {
    max-width: 1260px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
    background-color: #799BCE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 60px;
    letter-spacing: 3px;
    font-family: "Josefin Sans", sans-serif;
}

.cards {
    max-width: 1100px;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin-bottom: 100px;
}

.card {
    margin: 25px;
    padding: 15px;
    width: 33.33%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card>img {
    width: 160px;
    border-radius: 50%;
    margin: 0 auto;
}

.card>h1 {
    color: #4366D2;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 35px;
    font-family: "Titillium Web", sans-serif;
}

.card>h3 {
    text-transform: capitalize;
    color: #484848;
    letter-spacing: 3px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links>li>a {
    color: #4366D2;
    font-size: 20px;
    margin: 0 10px;
}

.social-links>li>a:hover {
    color: #000000;
}

.social-links>li>a:active {
    color: #03009e;
}

@media screen and (max-width: 992px) {
    .cards {
        width: 95%;
    }

    .card {
        margin: 25px 0;
        width: 100%;
    }

    .card>img {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 10px;
    }

    .cards {
        width: 90%;
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    .card {
        margin: 0;
        padding: 20px 15px;
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .card:not(:last-child) {
        margin-bottom: 20px;
        border-bottom: 1px solid #E6E6E6;
    }

    .card>img {
        width: 140px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .card>h3 {
        text-transform: capitalize;
        color: #484848;
        letter-spacing: 3px;
        font-size: 1.3rem;
        font-family: "Josefin Sans", sans-serif;
    }
}